

/* Project grid CSS */

#projectGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "usdt arloom cranefly"
    "usdtText arloomText craneflyText";
}

#usdt {
  grid-area:usdt;
  background-color: none;

}

#arloom {
  grid-area:arloom;
  background-color: none;

}

#cranefly {
grid-area:cranefly;
background-color: none;
}

#usdtText {
  grid-area:usdtText;
  background-color: #B1CABC;
  height:300px;

}

#arloomText {
  grid-area:arloomText;
  background-color: #B1CABC;
  height:300px;
  padding-top: 0;
} 

#craneflyText {
  grid-area:craneflyText;
  background-color:#B1CABC;
  height:300px;
  align-content: top;
}


.projectGridArea {
  margin: 0px;
  display: grid;
  cursor: pointer;
  height: fit-content;
  display: grid;
  }

  .hoverMe {
    grid-area: hover;
    background-color:#DFC9CC;
    color:#022E40;
    width: 160px;
    text-align: center;
    height: 60px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 8px;
    transition: 0.3s;
    font-size:20px;
     }
    .hoverMe:hover {
      background-color:#dfd2d4; 
    }


    /* Typography*/

typography {
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Work Sans', sans-serif;
}

  h2{
  font-family:'Lora', serif;
  font-style:normal;
  font-size:40px;
  font-weight: 140px;
  margin: 0px 0px;
  color:#022E40;
  padding-left: 20px;
  padding-top: 20px;
}


p {
  font-family:'Work Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  color:#022E40;
}


@media only screen and (max-width: 600px) {
        #projectGrid {
          grid-template-rows: 33% 33% 33%;
          grid-template-columns: 1fr;
          grid-template-areas:
            "usdt"
            "arloom"
            "cranefly"
            "usdtText"
            "arloomText"
            "craneflyText";
        }
      }