

/* Grid CSS */

/* #heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-areas:
    "featuredProject";
}

#featuredProduct {
    grid-area: featuredProduct;
}

.heroGridArea {
    display: grid;
    position: relative;
}

.grid {
    display: grid;
    font-family: "work Sans";
    color:#022E40;
    grid-template-areas:
    "hover"
    "disabled";
  }

  .mobileImage {
    position: absolute;
    left:0;
    top:85px;
    width:233px;
    margin-left: 5%;
  }

  .desktopImage {
    position:relative;
    width: 900px;
  }

  .projects {
    grid-template-rows: 300px;
  }

.hoverMe {
  grid-area: hover;
  background-color:#DFC9CC;
  color:#022E40;
  width: 150px;
  text-align: center;
  height: 50px;
  border-radius: 8px;
  transition: 0.3s;
   }
  .hoverMe:hover {
    background-color:#dfd2d4; 
  }

/* Project grid CSS */

#projectGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "usdt arloom cranefly"
    "usdtText arloomText craneflyText";
}

#usdt {
  grid-area:usdt;
  background-color: none;

}

#arloom {
  grid-area:arloom;
  background-color: none;

}

#cranefly {
grid-area:cranefly;
background-color: none;
}

#usdtText {
  grid-area:usdtText;
  background-color: #B1CABC;

}

#arloomText {
  grid-area:arloomText;
  background-color: #B1CABC;
} 

#craneflyText {
  grid-area:craneflyText;
  background-color:#B1CABC;
}


.projectGridArea {
  margin: 0px;
  display: grid;
  cursor: pointer;
  height: fit-content;
  display: grid;
  align-content: end;
  }

  .hoverMe {
    grid-area: hover;
    background-color:#DFC9CC;
    color:#022E40;
    width: 150px;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: 0.3s;
     }
    .hoverMe:hover {
      background-color:#dfd2d4; 
    }
  

  /* .textArea {
      background-color: rgba(0,0,0,0.7);
      padding: 5px;
      height: 25px;
      color: black;
      font-size: 18px; */